<!-- <h1>Listing articles</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @articles.each d0 article %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
    </tr>
  <% en %>
</table> -->

<h1>Hello, Rails!</h1>
<%= link_to 'My Blog', controller: 'articles' %>